.materials {
  display: table;
  table-layout: fixed;
  width: -webkit-calc(100% + 40px);
  width: calc(100% + 40px);
  margin-top: 55px;
  border-collapse: separate !important;
  border-spacing: 20px;
  font-size: 0;
  margin-left: -20px;
}
.material__header,
.material__footer {
  display: table-row;
}
.material__footer {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.material {
  display: inline-block;
  margin-left: 92px;
  margin-bottom: 40px;
  width: 313px;
}
.material__link {
  font-size: 12px;
  line-height: 20px;
  color: #818181;
  font-family: 'avg45_c', Arial, sans-serif;
}
.material__link {
  margin-bottom: 20px;
}

.material__carton {
  height: 100%;
  border: 2px solid red;
}

.materials.materials_tall .material__pic {
  height: 150px;
}


.material__text {
  padding: 35px;
  border: 1px solid #E9E9E9;
}

.material__title {
  text-transform: uppercase;
  font-size: 35px!important;
  color: #545494;
  min-height: 83px;
  margin-bottom: 10px;
  font-family: 'avg45_c', Arial, sans-serif;
  font-weight: normal!important;
  font-style: normal!important;
}

.material__list {
  font-size: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.material__item {
  display: block;
  margin-bottom: 10px;
}

.material__pic {
  display: block;
  width: 100%;
  position: relative;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
}

.material__pic:hover .material__img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          -ms-transform: translate(-50%, -50%) scale(1.2);
      transform: translate(-50%, -50%) scale(1.2);
}

.material__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.material_more {
  display: inline-block;
  position: relative;
}

.material_more:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #B3A170;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.material_more:hover:after {
  width: 0;
}

.material_green .material__title {
  color: #ADB13D!important;
}
.material__link {
  font-size: 12px;
  line-height: 20px;
  color: #818181;
  font-family: 'avg45_c', Arial, sans-serif;
}
.material__link {
  margin-bottom: 20px;
}

.materials {
  margin-top: 55px;
  /*margin-left: -52px;*/
  font-size: 0;
}

.materials.materials_tall .material__pic {
  height: 150px;
}

.material {
  display: inline-block;
  margin-left: 92px;
  margin-bottom: 40px;
  width: 313px;
}



.material__title {
  text-transform: uppercase;
  font-size: 35px!important;
  color: #545494;
  margin-bottom: 10px;
  min-height: 83px;
  font-family: 'avg45_c', Arial, sans-serif;
  font-weight: normal!important;
  font-style: normal!important;
}

.material__list {
  font-size: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.material__item {
  display: block;
  margin-bottom: 10px;
}

.material__pic {
  display: block;
  width: 100%;
  position: relative;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
}

.material__pic:hover .material__img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          -ms-transform: translate(-50%, -50%) scale(1.2);
      transform: translate(-50%, -50%) scale(1.2);
}

.material__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.material_more {
  display: inline-block;
  position: relative;
}

.material_more:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #B3A170;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.material_more:hover:after {
  width: 0;
}

.material_green .material__title {
  color: #ADB13D!important;
}

.material_green .material_more:after {
  background-color: #ADB13D!important;
}

.material_brown .material__title {
  color: #B3A170!important;
}

.material_brown .material_more:after {
  background-color: #B3A170!important;
}

.material_navy .material__title {
  color: #46468C!important;
}

.material_navy .material_more:after {
  background-color: #46468C;
}
.material_green .material_more:after {
  background-color: #ADB13D!important;
}

.material_brown .material__title {
  color: #B3A170!important;
}

.material_brown .material_more:after {
  background-color: #B3A170!important;
}

.material_navy .material__title {
  color: #46468C!important;
}

.material_navy .material_more:after {
  background-color: #46468C;
}